
# This is a sample variables.env file.
# You should replace the values with your own.
# WAZO_VERSION can be a branch name, a tag name, or "latest"
WAZO_VERSION=latest
INIT_TIMEOUT=180
TZ=America/Montreal
XIVO_UUID=00000000-0000-4000-8000-0000000AA450
LOCAL_GIT_REPOS=/Users/ajaysehwal/mos/wazo-docker

# This token is used for service-to-service authentication.
# It should be a long, random string.
WAZO_AUTH_TOKEN=a_very_secret_and_long_token_string
